:root {
  font-size: 16px;
  background-color: black;
  color: white;
}
h1 {
  font-size: 28px;
  font-family: Ubuntu, sans-serif;
  margin: 40px 0;
  text-align: center;
}
h2,
.info > p{
  font-size: 24px;
  font-family: Ubuntu, sans-serif;
  margin: 16px 0 0 0;
}

div.container {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 28px;
  margin: 8px;
}
.player,
.computer {
  display: flex;
  flex: 1;
  gap: 16px;
  flex-direction: column;
  border: none;
  box-shadow: 0 0 3px lightskyblue;
  border-radius: 8px;
  max-width: 400px;
  min-width: 200px;
  align-items: stretch;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
button {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  margin: 8px;
  min-width: 80px;
  border-radius: 8px;
  background-color: rgb(120, 220, 250);
  color: black;
  border: 1.8px solid rgb(120, 220, 250);
}
.btn-selected {
  box-shadow: 0 0 6px 2px rgb(120, 220, 250);
  border: 1.8px solid rgb(184, 236, 252);
}
.btn-grey {
  background-color: rgb(175, 209, 243);
  border-color: rgb(175, 209, 243);
}
.player-result,
.computer-result {
  font-size: 18px;
  text-align: center;
  margin: 0 0 16px 0;
}